{% extends 'admin/base.html' %}

{% block content %}
      <div class="row">
      <div class="col-md-6 p-5">
      <h3>Mark attendance</h3>
      <form action="{% url 'attendance_admin' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
            <label for="exampleInputEmail1">SELECT EMPLOYEE</label>
            <select name="employee" class="form-control w-70" id="" required>
                  {% for emp in employees %}
                  <option class="form-control w-70" value="{{emp.id}}">{{emp.user.first_name}} {{emp.user.last_name}}</option>
                  {% endfor %}
            </select>
            </div>
            <div class="form-group">
                  <label for="">STATUS</label>
                  <label for="">Present</label>
                  <input type="radio" name="status" value="present" required>
                  <label for="">Absent</label>
                  <input type="radio" name="status" value="absent" required>
            </div>
            <button type="submit" class="btn btn-warning">SAVE</button>
      </form>
      </div>
      <div class="col-md-6 p-5">
      <h3>Todays attendance</h3>
      <table class="table">
            <thead>
              <tr>
                <th scope="col">NAME</th>
                <th scope="col">STATUS</th>
              </tr>
            </thead>
            <tbody>
            {% for a in attendance %}
              <tr>
                <th scope="row">{{a.user.user.username}}</th>
                <td>{{a.status}}</td>
              </tr>
            {% endfor %}
            </tbody>
      </table>
      </div>
      </div>




      <div class="row">
      <div class="col-md-6 p-5">
      <h3>Search with date</h3>
      <form action="{% url 'date_filter' %}" method="POST">
            {% csrf_token %}
            <input type="date" class="form-control w-70" name="date">
            <button type="submit" class="btn btn-warning">SEARCH</button>
      </form>

      </div>

      <div class="col-md-6 p-5">
      <h3>Search with employee id</h3>
      <form action="{% url 'filter_attendance_employee' %}" method="POST">
            {% csrf_token %}
            <input type="number" class="form-control w-70" name="id">
            <button type="submit" class="btn btn-warning">SEARCH</button>
      </form>
      </div>
      <div class="m-5">
      <table class="table w-70">
            <thead>
              <tr>
                  <th scope="col">DATE</th>
                <th scope="col">NAME</th>
                <th scope="col">STATUS</th>
              </tr>
            </thead>
            <tbody>
            {% for a in filtered_attendance %}
              <tr>
                  <th scope="row">{{a.date}}</th>
                <th>{{a.user.user.username}}</th>
                <td>{{a.status}}</td>
              </tr>
            {% endfor %}
            </tbody>
      </table>
      </div>
      </div>



{% endblock %}